In [21]:
import pandas as pd

In [22]:
dataset = pd.read_csv("Churn_Modelling.csv")

Exited feature is the telling that a person left the bank. So we have to find out that why the person has left the bank.

In [23]:
dataset

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [24]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

By using the weight, we can understood which are the important features that decides why the person left the bank.

In [25]:
y = dataset['Exited']

In [26]:
X = dataset[['CreditScore', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
'IsActiveMember', 'EstimatedSalary']]

In [27]:
X.shape

(10000, 8)

In [28]:
dataset.columns

Index(['RowNumber', 'CustomerId', 'Surname', 'CreditScore', 'Geography',
       'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited'],
      dtype='object')

If you see, there are many features in the dataset, but some feature might be very imp for the prediction....here "Geography" and "Gender" are categorical data, we have to convert it to continuous data. SO that we can apply the classification. 

One hot encoding: 
Here as you can see in the
Geography reason you have you have three columns after one hotencoding i.e Germany, Spain, France. So to avoid dummy trap i have used a fn from pandas i.e
get_dummies in which i have use drop_first=True that will helps us to avoid dummy trap.

In [29]:
Geo = pd.get_dummies(dataset['Geography'],drop_first=True)

In [30]:
Geo

      Germany  Spain
0           0      0
1           0      1
2           0      0
3           0      0
4           0      1
...       ...    ...
9995        0      0
9996        0      0
9997        0      0
9998        1      0
9999        0      0

[10000 rows x 2 columns]

One Hot Encoding on Gender

In [31]:
Gen = pd.get_dummies(dataset['Gender'],drop_first=True)

In [32]:
Gen

      Male
0        0
1        0
2        0
3        0
4        0
...    ...
9995     1
9996     1
9997     0
9998     1
9999     0

[10000 rows x 1 columns]

In [33]:
pd.concat([X,Geo,Gen])

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Germany,Spain,Male
0,619.0,42.0,2.0,0.00,1.0,1.0,1.0,101348.88,NaN,NaN,NaN
1,608.0,41.0,1.0,83807.86,1.0,0.0,1.0,112542.58,NaN,NaN,NaN
2,502.0,42.0,8.0,159660.80,3.0,1.0,0.0,113931.57,NaN,NaN,NaN
3,699.0,39.0,1.0,0.00,2.0,0.0,0.0,93826.63,NaN,NaN,NaN
4,850.0,43.0,2.0,125510.82,1.0,1.0,1.0,79084.10,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
9995,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
9996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
9997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
9998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
9999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0

above you can see the there are lot of null values this is pandas perform any function in row wise, so perform it in the column wise we have to give axis=1

In [34]:
X=pd.concat([X,Geo,Gen],axis=1)

In [35]:
X

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Germany,Spain,Male
0,619,42,2,0.00,1,1,1,101348.88,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,1,0
2,502,42,8,159660.80,3,1,0,113931.57,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,39,5,0.00,2,1,0,96270.64,0,0,1
9996,516,35,10,57369.61,1,1,1,101699.77,0,0,1
9997,709,36,7,0.00,1,0,1,42085.58,0,0,0
9998,772,42,3,75075.31,2,1,0,92888.52,1,0,1
9999,792,28,4,130142.79,1,1,0,38190.78,0,0,0

In [36]:
from sklearn.model_selection import train_test_split

In [37]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.2 , random_state = 42)

In [38]:
X_train.shape

(8000, 11)

In [39]:
X_test.shape

(2000, 11)

In [47]:
from keras.models import  Sequential

In [48]:
model = Sequential()

In [49]:
from keras.layers import Dense

In [50]:
model.add(Dense(units=8,activation='relu',input_dim=11))

In [51]:
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 8)                 96
=================================================================
Total params: 96
Trainable params: 96
Non-trainable params: 0
_________________________________________________________________

In [52]:
model.add(Dense(units=6,activation='relu'))
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 8)                 96
_________________________________________________________________
dense_1 (Dense)              (None, 6)                 54
=================================================================
Total params: 150
Trainable params: 150
Non-trainable params: 0
_________________________________________________________________

In [53]:
model.add(Dense(units=1,activation='sigmoid'))

In [54]:
model.get_config()

{'name': 'sequential',
 'layers': [{'class_name': 'InputLayer',
   'config': {'batch_input_shape': (None, 11),
    'dtype': 'float32',
    'sparse': False,
    'ragged': False,
    'name': 'dense_input'}},
  {'class_name': 'Dense',
   'config': {'name': 'dense',
    'trainable': True,
    'batch_input_shape': (None, 11),
    'dtype': 'float32',
    'units': 8,
    'activation': 'relu',
    'use_bias': True,
    'kernel_initializer': {'class_name': 'GlorotUniform',
     'config': {'seed': None}},
    'bias_initializer': {'class_name': 'Zeros', 'config': {}},
    'kernel_regularizer': None,
    'bias_regularizer': None,
    'activity_regularizer': None,
    'kernel_constraint': None,
    'bias_constraint': None}},
  {'class_name': 'Dense',
   'config': {'name': 'dense_1',
    'trainable': True,
    'dtype': 'float32',
    'units': 6,
    'activation': 'relu',
    'use_bias': True,
    'kernel_initializer': {'class_name': 'GlorotUniform',
     'config': {'seed': None}},
    'bias_initializer': {'class_name': 'Zeros', 'config': {}},
    'kernel_regularizer': None,
    'bias_regularizer': None,
    'activity_regularizer': None,
    'kernel_constraint': None,
    'bias_constraint': None}},
  {'class_name': 'Dense',
   'config': {'name': 'dense_2',
    'trainable': True,
    'dtype': 'float32',
    'units': 1,
    'activation': 'sigmoid',
    'use_bias': True,
    'kernel_initializer': {'class_name': 'GlorotUniform',
     'config': {'seed': None}},
    'bias_initializer': {'class_name': 'Zeros', 'config': {}},
    'kernel_regularizer': None,
    'bias_regularizer': None,
    'activity_regularizer': None,
    'kernel_constraint': None,
    'bias_constraint': None}}]}

In [55]:
from keras.optimizers import Adam

In [56]:
model.compile(loss='binary_crossentropy',optimizer=Adam(learning_rate = 0.00005))

In [57]:
model.fit(X_train,y_train,epochs=200)

Epoch 1/200
250/250 [==============================] - 0s 1ms/step - loss: 7462.8252
Epoch 2/200
250/250 [==============================] - 0s 1ms/step - loss: 5717.0796
Epoch 3/200
250/250 [==============================] - 0s 1ms/step - loss: 4299.4092
Epoch 4/200
250/250 [==============================] - 0s 1ms/step - loss: 3178.0310
Epoch 5/200
250/250 [==============================] - 0s 1ms/step - loss: 2332.1702
Epoch 6/200
250/250 [==============================] - 0s 1ms/step - loss: 1621.0200
Epoch 7/200
250/250 [==============================] - 0s 1ms/step - loss: 1018.0232
Epoch 8/200
250/250 [==============================] - 0s 2ms/step - loss: 598.3518
Epoch 9/200
250/250 [==============================] - 0s 1ms/step - loss: 236.9072
Epoch 10/200
250/250 [==============================] - 0s 1ms/step - loss: 5.3995
Epoch 11/200
250/250 [==============================] - 0s 2ms/step - loss: 0.7117A: 0s - loss: 0
Epoch 12/200
250/250 [==============================] - 0s 1ms/step - loss: 0.6589
Epoch 13/200
250/250 [==============================] - 0s 2ms/step - loss: 0.6506
Epoch 14/200
250/250 [==============================] - 0s 1ms/step - loss: 0.6471
Epoch 15/200
250/250 [==============================] - 0s 1ms/step - loss: 0.6437A: 0s - loss: 0.643
Epoch 16/200
250/250 [==============================] - 0s 1ms/step - loss: 0.6421
Epoch 17/200
250/250 [==============================] - 0s 1ms/step - loss: 0.6399
Epoch 18/200
250/250 [==============================] - 0s 1ms/step - loss: 0.6376
Epoch 19/200
250/250 [==============================] - 0s 1ms/step - loss: 0.6352
Epoch 20/200
250/250 [==============================] - 0s 1ms/step - loss: 0.6335
Epoch 21/200
250/250 [==============================] - 0s 1ms/step - loss: 0.6294
Epoch 22/200
250/250 [==============================] - 0s 1ms/step - loss: 0.6262
Epoch 23/200
250/250 [==============================] - 0s 1ms/step - loss: 0.6248
Epoch 24/200
250/250 [==============================] - 0s 1ms/step - loss: 0.6227
Epoch 25/200
250/250 [==============================] - 0s 1ms/step - loss: 0.6208
Epoch 26/200
250/250 [==============================] - 0s 2ms/step - loss: 0.6175
Epoch 27/200
250/250 [==============================] - ETA: 0s - loss: 0.6145- ETA: 0s - loss: 0. - 1s 2ms/step - loss: 0.6156
Epoch 28/200
250/250 [==============================] - 0s 2ms/step - loss: 0.6139
Epoch 29/200
250/250 [==============================] - 0s 2ms/step - loss: 0.6127
Epoch 30/200
250/250 [==============================] - 0s 1ms/step - loss: 0.6100
Epoch 31/200
250/250 [==============================] - 0s 1ms/step - loss: 0.6053
Epoch 32/200
250/250 [==============================] - 0s 1ms/step - loss: 0.6045
Epoch 33/200
250/250 [==============================] - 0s 2ms/step - loss: 0.6029
Epoch 34/200
250/250 [==============================] - 0s 1ms/step - loss: 0.6002
Epoch 35/200
250/250 [==============================] - 0s 1ms/step - loss: 0.5981
Epoch 36/200
250/250 [==============================] - 0s 1ms/step - loss: 0.5962
Epoch 37/200
250/250 [==============================] - 0s 1ms/step - loss: 0.5929
Epoch 38/200
250/250 [==============================] - 0s 1ms/step - loss: 0.5924
Epoch 39/200
250/250 [==============================] - 0s 1ms/step - loss: 0.5898
Epoch 40/200
250/250 [==============================] - 0s 1ms/step - loss: 0.5881A: 0s - loss: 0
Epoch 41/200
250/250 [==============================] - 0s 1ms/step - loss: 0.5869
Epoch 42/200
250/250 [==============================] - 0s 1ms/step - loss: 0.5833
Epoch 43/200
250/250 [==============================] - 0s 1ms/step - loss: 0.5818
Epoch 44/200
250/250 [==============================] - 0s 1ms/step - loss: 0.5808
Epoch 45/200
250/250 [==============================] - 0s 1ms/step - loss: 0.5774
Epoch 46/200
250/250 [==============================] - 0s 1ms/step - loss: 0.5759
Epoch 47/200
250/250 [==============================] - 0s 1ms/step - loss: 0.5751
Epoch 48/200
250/250 [==============================] - 0s 1ms/step - loss: 0.5736
Epoch 49/200
250/250 [==============================] - 0s 1ms/step - loss: 0.5717
Epoch 50/200
250/250 [==============================] - 0s 2ms/step - loss: 0.5702
Epoch 51/200
250/250 [==============================] - 0s 1ms/step - loss: 0.5687
Epoch 52/200
250/250 [==============================] - 0s 2ms/step - loss: 0.5672
Epoch 53/200
250/250 [==============================] - 0s 2ms/step - loss: 0.5658
Epoch 54/200
250/250 [==============================] - 0s 1ms/step - loss: 0.5639
Epoch 55/200
250/250 [==============================] - 0s 1ms/step - loss: 0.5618
Epoch 56/200
250/250 [==============================] - 0s 1ms/step - loss: 0.5598
Epoch 57/200
250/250 [==============================] - 0s 2ms/step - loss: 0.5594
Epoch 58/200
250/250 [==============================] - 0s 1ms/step - loss: 0.5584
Epoch 59/200
250/250 [==============================] - 0s 2ms/step - loss: 0.5587
Epoch 60/200
250/250 [==============================] - 0s 2ms/step - loss: 0.5551
Epoch 61/200
250/250 [==============================] - 0s 1ms/step - loss: 0.5532
Epoch 62/200
250/250 [==============================] - 0s 1ms/step - loss: 0.5518
Epoch 63/200
250/250 [==============================] - 0s 1ms/step - loss: 0.5503
Epoch 64/200
250/250 [==============================] - 0s 1ms/step - loss: 0.5502
Epoch 65/200
250/250 [==============================] - 0s 1ms/step - loss: 0.5482
Epoch 66/200
250/250 [==============================] - 0s 1ms/step - loss: 0.5466
Epoch 67/200
250/250 [==============================] - 0s 1ms/step - loss: 0.5468
Epoch 68/200
250/250 [==============================] - 0s 1ms/step - loss: 0.5454
Epoch 69/200
250/250 [==============================] - 0s 1ms/step - loss: 0.5438
Epoch 70/200
250/250 [==============================] - 0s 1ms/step - loss: 0.5428
Epoch 71/200
250/250 [==============================] - 0s 1ms/step - loss: 0.5416
Epoch 72/200
250/250 [==============================] - 0s 1ms/step - loss: 0.5401
Epoch 73/200
250/250 [==============================] - 0s 1ms/step - loss: 0.5384
Epoch 74/200
250/250 [==============================] - 0s 1ms/step - loss: 0.5379
Epoch 75/200
250/250 [==============================] - 0s 1ms/step - loss: 0.5367
Epoch 76/200
250/250 [==============================] - 0s 1ms/step - loss: 0.5361
Epoch 77/200
250/250 [==============================] - 0s 1ms/step - loss: 0.5355
Epoch 78/200
250/250 [==============================] - 0s 1ms/step - loss: 0.5346A: 0s - loss: 0.534
Epoch 79/200
250/250 [==============================] - 0s 1ms/step - loss: 0.5330
Epoch 80/200
250/250 [==============================] - 0s 1ms/step - loss: 0.5321
Epoch 81/200
250/250 [==============================] - 0s 1ms/step - loss: 0.5316
Epoch 82/200
250/250 [==============================] - 0s 1ms/step - loss: 0.5306
Epoch 83/200
250/250 [==============================] - 0s 1ms/step - loss: 0.5294
Epoch 84/200
250/250 [==============================] - 0s 1ms/step - loss: 0.5290
Epoch 85/200
250/250 [==============================] - 0s 1ms/step - loss: 0.5281
Epoch 86/200
250/250 [==============================] - 0s 1ms/step - loss: 0.5272
Epoch 87/200
250/250 [==============================] - 0s 1ms/step - loss: 0.5266
Epoch 88/200
250/250 [==============================] - 0s 1ms/step - loss: 0.5257
Epoch 89/200
250/250 [==============================] - 0s 1ms/step - loss: 0.5275
Epoch 90/200
250/250 [==============================] - 0s 1ms/step - loss: 0.5242
Epoch 91/200
250/250 [==============================] - 0s 1ms/step - loss: 0.5236
Epoch 92/200
250/250 [==============================] - 0s 1ms/step - loss: 0.5228
Epoch 93/200
250/250 [==============================] - 0s 1ms/step - loss: 0.5223
Epoch 94/200
250/250 [==============================] - 0s 1ms/step - loss: 0.5216
Epoch 95/200
250/250 [==============================] - 0s 1ms/step - loss: 0.5211
Epoch 96/200
250/250 [==============================] - 0s 1ms/step - loss: 0.5206
Epoch 97/200
250/250 [==============================] - 0s 1ms/step - loss: 0.5201
Epoch 98/200

250/250 [==============================] - 0s 1ms/step - loss: 0.5195
Epoch 99/200
250/250 [==============================] - 0s 1ms/step - loss: 0.5189
Epoch 100/200
250/250 [==============================] - 0s 1ms/step - loss: 0.5174
Epoch 101/200
250/250 [==============================] - 0s 1ms/step - loss: 0.5055
Epoch 102/200
250/250 [==============================] - 0s 1ms/step - loss: 0.5043
Epoch 103/200
250/250 [==============================] - 0s 1ms/step - loss: 0.5033
Epoch 104/200
250/250 [==============================] - 0s 1ms/step - loss: 0.5032
Epoch 105/200
250/250 [==============================] - 0s 1ms/step - loss: 0.5025
Epoch 106/200
250/250 [==============================] - 0s 1ms/step - loss: 0.5020
Epoch 107/200
250/250 [==============================] - 0s 1ms/step - loss: 0.5020
Epoch 108/200
250/250 [==============================] - 0s 1ms/step - loss: 0.5015A: 0s - loss: 0
Epoch 109/200
250/250 [==============================] - 0s 1ms/step - loss: 0.5017
Epoch 110/200
250/250 [==============================] - 0s 1ms/step - loss: 0.5008
Epoch 111/200
250/250 [==============================] - 0s 1ms/step - loss: 0.5010
Epoch 112/200
250/250 [==============================] - 0s 1ms/step - loss: 0.5011
Epoch 113/200
250/250 [==============================] - 0s 1ms/step - loss: 0.5001
Epoch 114/200
250/250 [==============================] - 0s 1ms/step - loss: 0.5009
Epoch 115/200
250/250 [==============================] - 0s 1ms/step - loss: 0.5009
Epoch 116/200
250/250 [==============================] - 0s 1ms/step - loss: 0.5007
Epoch 117/200
250/250 [==============================] - 0s 1ms/step - loss: 0.5011
Epoch 118/200
250/250 [==============================] - 0s 1ms/step - loss: 0.5003
Epoch 119/200
250/250 [==============================] - 0s 1ms/step - loss: 0.5003
Epoch 120/200
250/250 [==============================] - 0s 1ms/step - loss: 0.5007
Epoch 121/200
250/250 [==============================] - 0s 1ms/step - loss: 0.5003
Epoch 122/200
250/250 [==============================] - 0s 1ms/step - loss: 0.5008
Epoch 123/200
250/250 [==============================] - 0s 1ms/step - loss: 0.5007
Epoch 124/200
250/250 [==============================] - 0s 1ms/step - loss: 0.5000
Epoch 125/200
250/250 [==============================] - 0s 1ms/step - loss: 0.5006
Epoch 126/200
250/250 [==============================] - 0s 1ms/step - loss: 0.5003
Epoch 127/200
250/250 [==============================] - 0s 1ms/step - loss: 0.4997
Epoch 128/200
250/250 [==============================] - 0s 1ms/step - loss: 0.5003
Epoch 129/200
250/250 [==============================] - 0s 1ms/step - loss: 0.5004
Epoch 130/200
250/250 [==============================] - 0s 1ms/step - loss: 0.5001
Epoch 131/200
250/250 [==============================] - 0s 1ms/step - loss: 0.5004
Epoch 132/200
250/250 [==============================] - 0s 1ms/step - loss: 0.4999
Epoch 133/200
250/250 [==============================] - 0s 1ms/step - loss: 0.4999
Epoch 134/200
250/250 [==============================] - 0s 1ms/step - loss: 0.5001
Epoch 135/200
250/250 [==============================] - 0s 1ms/step - loss: 0.5000
Epoch 136/200
250/250 [==============================] - 0s 1ms/step - loss: 0.5008
Epoch 137/200
250/250 [==============================] - 0s 1ms/step - loss: 0.5005
Epoch 138/200
250/250 [==============================] - 0s 1ms/step - loss: 0.5000
Epoch 139/200
250/250 [==============================] - 0s 1ms/step - loss: 0.5004
Epoch 140/200
250/250 [==============================] - 0s 1ms/step - loss: 0.5004
Epoch 141/200
250/250 [==============================] - 0s 1ms/step - loss: 0.5000
Epoch 142/200
250/250 [==============================] - 0s 1ms/step - loss: 0.5001
Epoch 143/200
250/250 [==============================] - 0s 1ms/step - loss: 0.4998
Epoch 144/200
250/250 [==============================] - 0s 1ms/step - loss: 0.5001
Epoch 145/200
250/250 [==============================] - 0s 1ms/step - loss: 0.4999
Epoch 146/200
250/250 [==============================] - 0s 1ms/step - loss: 0.5007
Epoch 147/200
250/250 [==============================] - 0s 1ms/step - loss: 0.5003
Epoch 148/200
250/250 [==============================] - 0s 2ms/step - loss: 0.5000
Epoch 149/200
250/250 [==============================] - 0s 2ms/step - loss: 0.5001
Epoch 150/200
250/250 [==============================] - 0s 1ms/step - loss: 0.4999
Epoch 151/200
250/250 [==============================] - 0s 1ms/step - loss: 0.5003
Epoch 152/200
250/250 [==============================] - 0s 1ms/step - loss: 0.5005
Epoch 153/200
250/250 [==============================] - 0s 2ms/step - loss: 0.5005
Epoch 154/200
250/250 [==============================] - 0s 2ms/step - loss: 0.5000
Epoch 155/200
250/250 [==============================] - 0s 1ms/step - loss: 0.5001
Epoch 156/200
250/250 [==============================] - 0s 2ms/step - loss: 0.4999
Epoch 157/200
250/250 [==============================] - 0s 1ms/step - loss: 0.4999
Epoch 158/200
250/250 [==============================] - 0s 1ms/step - loss: 0.5003
Epoch 159/200
250/250 [==============================] - 0s 2ms/step - loss: 0.4995
Epoch 160/200
250/250 [==============================] - 0s 1ms/step - loss: 0.5001
Epoch 161/200
250/250 [==============================] - 0s 1ms/step - loss: 0.4999
Epoch 162/200
250/250 [==============================] - 0s 1ms/step - loss: 0.4999
Epoch 163/200
250/250 [==============================] - 0s 1ms/step - loss: 0.5006
Epoch 164/200
250/250 [==============================] - 0s 1ms/step - loss: 0.4997
Epoch 165/200
250/250 [==============================] - 0s 1ms/step - loss: 0.5002
Epoch 166/200
250/250 [==============================] - 0s 1ms/step - loss: 0.5001
Epoch 167/200
250/250 [==============================] - 0s 1ms/step - loss: 0.4996
Epoch 168/200
250/250 [==============================] - 0s 1ms/step - loss: 0.4998
Epoch 169/200
250/250 [==============================] - 0s 1ms/step - loss: 0.4996
Epoch 170/200
250/250 [==============================] - 0s 1ms/step - loss: 0.4998A: 0s - loss: 0.49
Epoch 171/200
250/250 [==============================] - 0s 1ms/step - loss: 0.5002
Epoch 172/200
250/250 [==============================] - 0s 1ms/step - loss: 0.4998
Epoch 173/200
250/250 [==============================] - 0s 1ms/step - loss: 0.5003
Epoch 174/200
250/250 [==============================] - 0s 1ms/step - loss: 0.5001
Epoch 175/200
250/250 [==============================] - 0s 1ms/step - loss: 0.5000
Epoch 176/200
250/250 [==============================] - 0s 1ms/step - loss: 0.5000
Epoch 177/200
250/250 [==============================] - 0s 1ms/step - loss: 0.5002
Epoch 178/200
250/250 [==============================] - 0s 1ms/step - loss: 0.4998
Epoch 179/200
250/250 [==============================] - 0s 1ms/step - loss: 0.4996
Epoch 180/200
250/250 [==============================] - 0s 1ms/step - loss: 0.4999
Epoch 181/200
250/250 [==============================] - 0s 1ms/step - loss: 0.5001
Epoch 182/200
250/250 [==============================] - 0s 1ms/step - loss: 0.5000
Epoch 183/200
250/250 [==============================] - 0s 1ms/step - loss: 0.4999
Epoch 184/200
250/250 [==============================] - 0s 1ms/step - loss: 0.4998
Epoch 185/200
250/250 [==============================] - 0s 1ms/step - loss: 0.5017
Epoch 186/200
250/250 [==============================] - 0s 1ms/step - loss: 0.4998
Epoch 187/200
250/250 [==============================] - 0s 1ms/step - loss: 0.4994
Epoch 188/200
250/250 [==============================] - 0s 1ms/step - loss: 0.4996
Epoch 189/200
250/250 [==============================] - 0s 1ms/step - loss: 0.5000
Epoch 190/200
250/250 [==============================] - 0s 1ms/step - loss: 0.4995
Epoch 191/200
250/250 [==============================] - 0s 1ms/step - loss: 0.4997
Epoch 192/200
250/250 [==============================] - 0s 1ms/step - loss: 0.5000
Epoch 193/200
250/250 [==============================] - 0s 1ms/step - loss: 0.4997
Epoch 194/200
250/250 [==============================] - 0s 1ms/step - loss: 0.4994
Epoch 195/200

250/250 [==============================] - 0s 1ms/step - loss: 0.4995
Epoch 196/200
250/250 [==============================] - 0s 2ms/step - loss: 0.4994
Epoch 197/200
250/250 [==============================] - 0s 1ms/step - loss: 0.4997
Epoch 198/200
250/250 [==============================] - 0s 1ms/step - loss: 0.5003
Epoch 199/200
250/250 [==============================] - 0s 1ms/step - loss: 0.4996
Epoch 200/200
250/250 [==============================] - 0s 1ms/step - loss: 0.5000

In [58]:
l =  pd.DataFrame(model.history.history)

In [ ]:
l.plot()